In [43]:
import pandas as pd 
data = pd.read_csv("JDD/housing_treated.csv")
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_in_house,bedrooms_in_rooms,bedrooms_in_house,population_per_household
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,2,6.984127,0.146591,1.023810,2.555556
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,2,6.238137,0.155797,0.971880,2.109842
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,2,8.288136,0.129516,1.073446,2.802260
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,2,5.817352,0.184458,1.073059,2.547945
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,2,6.281853,0.172096,1.081081,2.181467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19443,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,1,5.045455,0.224625,1.133333,2.560606
19444,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,1,6.114035,0.215208,1.315789,3.122807
19445,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,1,5.205543,0.215173,1.120092,2.325635
19446,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,1,5.329513,0.219892,1.171920,2.123209
19447,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,1,5.254717,0.221185,1.162264,2.616981

In [44]:
import sklearn.linear_model
from sklearn.model_selection import train_test_split
import numpy as np


# Prepare the data
X = np.c_[data[["housing_median_age","median_income","ocean_proximity","rooms_in_house","bedrooms_in_rooms"]]]
y = np.c_[data["median_house_value"]]

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)

print(X.shape, y.shape)

print(X_train.shape, y_train.shape)
print(X_valid.shape, y_valid.shape)
print(X_test.shape, y_test.shape)

# Visualize the data
#data.plot(kind='scatter', x="GDP per capita", y='Life satisfaction')
#plt.show()

# Select a linear model
model = sklearn.linear_model.LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make a prediction for Cyprus
X_new = [[41.0,8.3252,2,6.984126984126984,0.14659090909090908]]  
print(model.predict(X_new))

(19448, 5) (19448, 1)
(11668, 5) (11668, 1)
(3890, 5) (3890, 1)
(3890, 5) (3890, 1)
[[406090.54444673]]

In [45]:
import sklearn.linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np


# Prepare the data
X = np.c_[data[["median_income","ocean_proximity","rooms_in_house","bedrooms_in_rooms"]]]
y = np.c_[data["median_house_value"]]

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)


# Select a linear model
model = sklearn.linear_model.LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make a prediction for Cyprus
X_new = [[8.3252,2,6.984126984126984,0.14659090909090908]]  
print(model.predict(X_new))

[[388034.28625446]]

In [46]:
metric = {'modele': 'model 1',
          'mean_absolute_error': mean_absolute_error(y_valid, model.predict(X_valid)),
          'mean_squared_error': mean_squared_error(y_valid, model.predict(X_valid)),
          'r2_score':r2_score(y_valid, model.predict(X_valid))
         }
print(metric)

{'modele': 'model 1', 'mean_absolute_error': 47925.08290042506, 'mean_squared_error': 4222833163.7648277, 'r2_score': 0.5656611945473952}

In [47]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor

# Prepare the data
X = np.c_[data[["housing_median_age","median_income","ocean_proximity","rooms_in_house","bedrooms_in_rooms"]]]
y = np.array(data["median_house_value"])

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)

model = make_pipeline(StandardScaler(), SGDRegressor(max_iter=10000, alpha=0.001))
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdregressor', SGDRegressor(alpha=0.001, max_iter=10000))])

In [48]:
metric1 = {'modele': 'model 1',
          'mean_absolute_error': mean_absolute_error(y_valid, model.predict(X_valid)),
          'mean_squared_error(rooted)': np.sqrt(mean_squared_error(y_valid, model.predict(X_valid))),
          'r2_score':r2_score(y_valid, model.predict(X_valid))
         }
print(metric1)

{'modele': 'model 1', 'mean_absolute_error': 47959.25421815615, 'mean_squared_error(rooted)': 64418.91368002903, 'r2_score': 0.5641932947159727}

In [49]:
# Prepare the data
X = np.c_[data[["median_income","ocean_proximity","bedrooms_in_rooms"]]]
y = np.array(data["median_house_value"])

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)

model = make_pipeline(StandardScaler(), SGDRegressor(max_iter=10000, alpha=0.001))
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdregressor', SGDRegressor(alpha=0.001, max_iter=10000))])

In [50]:
metric2 = {'modele': 'model 2',
          'mean_absolute_error': mean_absolute_error(y_valid, model.predict(X_valid)),
          'mean_squared_error(rooted)': np.sqrt(mean_squared_error(y_valid, model.predict(X_valid))),
          'r2_score':r2_score(y_valid, model.predict(X_valid))
         }
print(metric2)

{'modele': 'model 2', 'mean_absolute_error': 47097.17649688482, 'mean_squared_error(rooted)': 64024.674749440914, 'r2_score': 0.5628408235081059}

In [51]:
# Prepare the data
X = np.c_[data[["median_income","ocean_proximity"]]]
y = np.array(data["median_house_value"])

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)

model = make_pipeline(StandardScaler(), SGDRegressor(max_iter=10000, alpha=0.001))
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdregressor', SGDRegressor(alpha=0.001, max_iter=10000))])

In [52]:
metric3 = {'modele': 'model 3',
          'mean_absolute_error': mean_absolute_error(y_valid, model.predict(X_valid)),
          'mean_squared_error(rooted)': np.sqrt(mean_squared_error(y_valid, model.predict(X_valid))),
          'r2_score':r2_score(y_valid, model.predict(X_valid))
         }
print(metric3)

{'modele': 'model 3', 'mean_absolute_error': 47388.61337662321, 'mean_squared_error(rooted)': 64676.14486982674, 'r2_score': 0.5653432404710841}

In [53]:
# Prepare the data
X = np.c_[data[["housing_median_age","median_income","ocean_proximity","rooms_in_house","bedrooms_in_rooms","total_rooms"]]]
y = np.array(data["median_house_value"])

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)

model = make_pipeline(StandardScaler(), SGDRegressor(max_iter=10000, alpha=0.001))
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdregressor', SGDRegressor(alpha=0.001, max_iter=10000))])

In [54]:
metric4 = {'modele': 'model 4',
          'mean_absolute_error': mean_absolute_error(y_valid, model.predict(X_valid)),
          'mean_squared_error(rooted)': np.sqrt(mean_squared_error(y_valid, model.predict(X_valid))),
          'r2_score':r2_score(y_valid, model.predict(X_valid))
         }
print(metric4)

{'modele': 'model 4', 'mean_absolute_error': 47556.93178830179, 'mean_squared_error(rooted)': 63269.64232138374, 'r2_score': 0.5770800068457324}

In [55]:
# Prepare the data
data_all = data.drop("median_house_value",axis=1)
X = np.c_[data_all]
y = np.array(data["median_house_value"])

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)

model = make_pipeline(StandardScaler(), SGDRegressor(max_iter=10000, alpha=0.001))
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdregressor', SGDRegressor(alpha=0.001, max_iter=10000))])

In [56]:
metric5 = {'modele': 'model 5',
          'mean_absolute_error': mean_absolute_error(y_valid, model.predict(X_valid)),
          'mean_squared_error(rooted)': np.sqrt(mean_squared_error(y_valid, model.predict(X_valid))),
          'r2_score':r2_score(y_valid, model.predict(X_valid))
         }
print(metric5)

{'modele': 'model 5', 'mean_absolute_error': 42819.533181804094, 'mean_squared_error(rooted)': 58633.2537238988, 'r2_score': 0.6320819913427076}

In [57]:
from sklearn.ensemble import RandomForestRegressor
#model = RandomForestRegressor()

# Prepare the data
data_all = data.drop("median_house_value",axis=1)
X = np.c_[data_all]
y = np.array(data["median_house_value"])

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)

model = make_pipeline(StandardScaler(), RandomForestRegressor())
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestregressor', RandomForestRegressor())])

In [58]:
metric6 = {'modele': 'model 6',
          'mean_absolute_error': mean_absolute_error(y_valid, model.predict(X_valid)),
          'mean_squared_error(rooted)': np.sqrt(mean_squared_error(y_valid, model.predict(X_valid))),
          'r2_score':r2_score(y_valid, model.predict(X_valid))
         }
print(metric6)

{'modele': 'model 6', 'mean_absolute_error': 29870.60650385604, 'mean_squared_error(rooted)': 43449.52948960194, 'r2_score': 0.797757745826562}

In [21]:
from sklearn.model_selection import GridSearchCV

# Prepare the data
data_all = data.drop("median_house_value",axis=1)
X = np.c_[data_all]
y = np.array(data["median_house_value"])

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)

model = RandomForestRegressor()
params = [
{'n_estimators': [3, 10, 30,100,1000], 'max_features': [2, 4, 6, 8]},
{'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]},
]

grid = GridSearchCV(model,params,scoring="neg_mean_squared_error",return_train_score=True)
grid.fit(X_train,y_train)

GridSearchCV(estimator=RandomForestRegressor(),
             param_grid=[{'max_features': [2, 4, 6, 8],
                          'n_estimators': [3, 10, 30, 100, 1000]},
                         {'bootstrap': [False], 'max_features': [2, 3, 4],
                          'n_estimators': [3, 10]}],
             return_train_score=True, scoring='neg_mean_squared_error')

In [22]:
grid.best_params_

{'max_features': 4, 'n_estimators': 1000}

In [60]:
from sklearn.ensemble import RandomForestRegressor
#model = RandomForestRegressor()

# Prepare the data
data_all = data.drop("median_house_value",axis=1)
X = np.c_[data_all]
y = np.array(data["median_house_value"])

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.4, random_state=0)

X_valid, X_test, y_valid, y_test = train_test_split(
        X_test, y_test, test_size=0.5)

model = make_pipeline(StandardScaler(), RandomForestRegressor(max_features=4,n_estimators=1000))
model.fit(X_train, y_train)

metric7 = {'modele': 'model 7',
          'mean_absolute_error': mean_absolute_error(y_valid, model.predict(X_valid)),
          'mean_squared_error(rooted)': np.sqrt(mean_squared_error(y_valid, model.predict(X_valid))),
          'r2_score':r2_score(y_valid, model.predict(X_valid))
         }
print(metric7)

{'modele': 'model 7', 'mean_absolute_error': 30915.208493059123, 'mean_squared_error(rooted)': 45764.99834818643, 'r2_score': 0.7797869573441595}

In [59]:
metric = pd.DataFrame([metric1, metric2, metric3, metric4, metric5,metric6,metric7])
metric

    modele  mean_absolute_error  mean_squared_error(rooted)  r2_score
0  model 1         47959.254218                64418.913680  0.564193
1  model 2         47097.176497                64024.674749  0.562841
2  model 3         47388.613377                64676.144870  0.565343
3  model 4         47556.931788                63269.642321  0.577080
4  model 5         42819.533182                58633.253724  0.632082
5  model 6         29870.606504                43449.529490  0.797758

In [61]:
X_new = [[-122.26,37.85,52,2202,434,910,402,3.203100,2,5.477612,0.197094,1.079602,2.263682]] 
model.predict(X_new)

array([263722.6])

In [64]:
X_new = [[-117.83,33.68,4,3226,838,1666,800,4.1652,2,4.0325,0.259764,1.0475,2.0825]] 
model.predict(X_new)

array([191738.8])

In [63]:
data.iloc[10000]

longitude                     -117.830000
latitude                        33.680000
housing_median_age               4.000000
total_rooms                   3226.000000
total_bedrooms                 838.000000
population                    1666.000000
households                     800.000000
median_income                    4.165200
median_house_value          184500.000000
ocean_proximity                  2.000000
rooms_in_house                   4.032500
bedrooms_in_rooms                0.259764
bedrooms_in_house                1.047500
population_per_household         2.082500
Name: 10000, dtype: float64

In [20]:
data.iloc[10]

Unnamed: 0                      10.000000
longitude                     -122.260000
latitude                        37.850000
housing_median_age              52.000000
total_rooms                   2202.000000
total_bedrooms                 434.000000
population                     910.000000
households                     402.000000
median_income                    3.203100
median_house_value          281500.000000
ocean_proximity                  2.000000
rooms_in_house                   5.477612
bedrooms_in_rooms                0.197094
bedrooms_in_house                1.079602
population_per_household         2.263682
Name: 10, dtype: float64